# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [36]:
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()
c.execute("""SELECT COUNT(*) from products""")
c.fetchall()

[(110,)]

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [3]:
c.execute("""SELECT employees.firstName, employees.lastName 
                    FROM employees
                    JOIN offices USING(officeCode)
                    WHERE offices.city = 'Boston' """)
c.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [11]:
c.execute("""SELECT COUNT(*), city
                    FROM offices
                    LEFT JOIN employees USING(officeCode)
                    GROUP BY officeCode""")
c.fetchall()

[(6, 'San Francisco'),
 (2, 'Boston'),
 (2, 'NYC'),
 (5, 'Paris'),
 (2, 'Tokyo'),
 (4, 'Sydney'),
 (2, 'London')]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [47]:
# What products has been ordered most?
c.execute("""SELECT COUNT(p.productName), p.productName 
                FROM products p
                JOIN orderdetails o USING(productCode)
                GROUP BY p.productName
                ORDER BY COUNT(p.productName) DESC
                LIMIT 1""")
c.fetchall()

[(53, '1992 Ferrari 360 Spider red')]

In [53]:
# How many customers does each employee have?
c.execute("""SELECT COUNT(e.employeeNumber), e.firstName, e.lastName
                    FROM customers c
                    JOIN employees e ON 
                        c.salesRepEmployeeNumber = e.employeeNumber
                    GROUP BY e.employeeNumber""")
c.fetchall()

[(6, 'Leslie', 'Jennings'),
 (6, 'Leslie', 'Thompson'),
 (6, 'Julie', 'Firrelli'),
 (6, 'Steve', 'Patterson'),
 (7, 'Foon Yue', 'Tseng'),
 (8, 'George', 'Vanauf'),
 (6, 'Loui', 'Bondur'),
 (7, 'Gerard', 'Hernandez'),
 (10, 'Pamela', 'Castillo'),
 (8, 'Larry', 'Bott'),
 (9, 'Barry', 'Jones'),
 (5, 'Andy', 'Fixter'),
 (5, 'Peter', 'Marsh'),
 (5, 'Mami', 'Nishi'),
 (6, 'Martin', 'Gerard')]

In [66]:
# Which employee sold the most products?
c.execute("""SELECT SUM(od.quantityOrdered), e.firstNa 
                    FROM orderdetails od
                    JOIN orders o USING(orderNumber)
                    JOIN customers c USING(customerNumber)
                    JOIN employees e ON
                         c.salesRepEmployeeNumber = e.employeeNumber
                    GROUP BY e.employeeNumber
                    ORDER BY SUM(od.quantityOrdered) DESC
                    LIMIT 1
                    """)
c.fetchall()

[(14231,)]

## Level Up: Display the names of each product each employee has sold

In [31]:
# select product name and employee name
# salesrep & order number from customers, customer to cust num
# product code from  
# order details (accessed using order num),
# product name from products (accessed using product code)

c.execute("""SELECT emp.firstName, emp.lastName, 
                    
                        """)

# c.execute("""SELECT emp.firstName, emp.lastName, 
#                     prod.productName
#                     FROM customers cust
#                     JOIN employees emp
#                         ON cust.salesRepEmployeeNumber = emp.employeeNumber
#                     JOIN orders USING(customerNumber)
#                     JOIN orderdetails od USING(orderNumber)
#                     JOIN products prod USING(productCode)
#                     """)
c.fetchall()

[('Gerard', 'Hernandez', '103'),
 ('Leslie', 'Thompson', '112'),
 ('Andy', 'Fixter', '114'),
 ('Gerard', 'Hernandez', '119'),
 ('Barry', 'Jones', '121'),
 ('Leslie', 'Jennings', '124'),
 ('Barry', 'Jones', '128'),
 ('Leslie', 'Jennings', '129'),
 ('George', 'Vanauf', '131'),
 ('Gerard', 'Hernandez', '141'),
 ('Barry', 'Jones', '144'),
 ('Pamela', 'Castillo', '145'),
 ('Loui', 'Bondur', '146'),
 ('Mami', 'Nishi', '148'),
 ('Foon Yue', 'Tseng', '151'),
 ('Steve', 'Patterson', '157'),
 ('Leslie', 'Jennings', '161'),
 ('Peter', 'Marsh', '166'),
 ('Barry', 'Jones', '167'),
 ('Foon Yue', 'Tseng', '168'),
 ('Gerard', 'Hernandez', '171'),
 ('Loui', 'Bondur', '172'),
 ('Julie', 'Firrelli', '173'),
 ('George', 'Vanauf', '175'),
 ('Mami', 'Nishi', '177'),
 ('Foon Yue', 'Tseng', '181'),
 ('Larry', 'Bott', '186'),
 ('Larry', 'Bott', '187'),
 ('Barry', 'Jones', '189'),
 ('Steve', 'Patterson', '198'),
 ('Larry', 'Bott', '201'),
 ('George', 'Vanauf', '202'),
 ('Julie', 'Firrelli', '204'),
 ('Leslie', 'Thompson', '205'),
 ('Gerard', 'Hernandez', '209'),
 ('Mami', 'Nishi', '211'),
 ('Martin', 'Gerard', '216'),
 ('Leslie', 'Thompson', '219'),
 ('Pamela', 'Castillo', '227'),
 ('Foon Yue', 'Tseng', '233'),
 ('Leslie', 'Thompson', '239'),
 ('Larry', 'Bott', '240'),
 ('Gerard', 'Hernandez', '242'),
 ('Pamela', 'Castillo', '249'),
 ('Loui', 'Bondur', '250'),
 ('Gerard', 'Hernandez', '256'),
 ('Barry', 'Jones', '259'),
 ('George', 'Vanauf', '260'),
 ('Andy', 'Fixter', '276'),
 ('Pamela', 'Castillo', '278'),
 ('Andy', 'Fixter', '282'),
 ('Steve', 'Patterson', '286'),
 ('Martin', 'Gerard', '298'),
 ('Barry', 'Jones', '299'),
 ('Larry', 'Bott', '311'),
 ('Pamela', 'Castillo', '314'),
 ('George', 'Vanauf', '319'),
 ('Julie', 'Firrelli', '320'),
 ('Leslie', 'Jennings', '321'),
 ('Peter', 'Marsh', '323'),
 ('Larry', 'Bott', '324'),
 ('George', 'Vanauf', '328'),
 ('Andy', 'Fixter', '333'),
 ('Larry', 'Bott', '334'),
 ('Julie', 'Firrelli', '339'),
 ('Martin', 'Gerard', '344'),
 ('Leslie', 'Thompson', '347'),
 ('Loui', 'Bondur', '350'),
 ('Loui', 'Bondur', '353'),
 ('Peter', 'Marsh', '357'),
 ('Steve', 'Patterson', '362'),
 ('Steve', 'Patterson', '363'),
 ('Martin', 'Gerard', '376'),
 ('Julie', 'Firrelli', '379'),
 ('Pamela', 'Castillo', '381'),
 ('Pamela', 'Castillo', '382'),
 ('Mami', 'Nishi', '385'),
 ('Pamela', 'Castillo', '386'),
 ('Mami', 'Nishi', '398'),
 ('Loui', 'Bondur', '406'),
 ('Peter', 'Marsh', '412'),
 ('Barry', 'Jones', '415'),
 ('Foon Yue', 'Tseng', '424'),
 ('George', 'Vanauf', '447'),
 ('Barry', 'Jones', '448'),
 ('Leslie', 'Jennings', '450'),
 ('Pamela', 'Castillo', '452'),
 ('Foon Yue', 'Tseng', '455'),
 ('Foon Yue', 'Tseng', '456'),
 ('Martin', 'Gerard', '458'),
 ('Steve', 'Patterson', '462'),
 ('Andy', 'Fixter', '471'),
 ('Pamela', 'Castillo', '473'),
 ('Leslie', 'Thompson', '475'),
 ('Martin', 'Gerard', '484'),
 ('George', 'Vanauf', '486'),
 ('Leslie', 'Jennings', '487'),
 ('Larry', 'Bott', '489'),
 ('Julie', 'Firrelli', '495'),
 ('Peter', 'Marsh', '496')]

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!